<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
      <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

{% if author.tryhackme %}
  <li>
    <a href="{{ author.tryhackme }}" title="TryHackMe" target="_blank" rel="noopener" style="margin-left:3px;">
      <i class="fas fa-user-secret"></i><span style="margin-left:5px;">TryHackMe</span>
    </a>
  </li>
{% endif %}

{% if author.hackthebox %}
  <li>
    <a href="{{ author.hackthebox }}" title="HackTheBox" target="_blank" rel="noopener" style="margin-left:1px;">
      <svg class="svg-inline--fa fa-w-1" aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" style="width: 16px; height: 16px;vertical-align:middle;">
        <polygon points="60,10 100,30 60,50 20,30" fill="none" stroke="currentColor" stroke-width="10" stroke-linejoin="round" />
        <polygon points="20,30 60,50 60,100 20,80" fill="none" stroke="currentColor" stroke-width="10" stroke-linejoin="round" />
        <polygon points="100,30 60,50 60,100 100,80" fill="none" stroke="currentColor" stroke-width="10" stroke-linejoin="round" />
      </svg>
      <span style="vertical-align:middle;">HackTheBox</span>
    </a>
  </li>
{% endif %}

<p><img src="https://tryhackme-badges.s3.amazonaws.com/pwnerguy.png" alt="TryHackMe Badge" style="width: 250px;" /></p>
<p><img src="https://www.hackthebox.com/badge/image/3026377" alt="HackTheBox Badge" style="width: 250px; border-radius: 8px;" /></p>
