---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


::selection {
  background-color: #c8e1ff;
  color: #000;
}

::-moz-selection {
  background-color: #c8e1ff;
  color: #000;
}

body {
  margin-top: 90px; 
}

.masthead {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #fff;
      z-index: 1000;
      background-color: #050D1A;
}

.sidebar {
  position: sticky;
  top: 80px; 
  margin-top: 22px;
  background-color: #050D1A;
}

@media (max-width: 768px) {
  .sidebar {
    position: static;
    top: auto;
    margin-top: 0;
  }

  .author__profile {
    background-color: #050D1A;
    margin-top: 0;
  }
}
